In [ ]:
print('Hello')

Hello

In [ ]:
print("Hello")

Hello

In [ ]:
print('''Hello''')

Hello

In [ ]:
print("""Hello""")

Hello

In [ ]:
"""Hello World """

'Hello World '

In [ ]:
'''Hello'''

print(__doc__)

Hello

In [ ]:
# 'Hello', "World ,"

print(''' 'Hello', "World ," ''')

 'Hello', "World ,"

In [ ]:
print(""" 'Hello', "World ,"  """)

 'Hello', "World ,"

In [ ]:
print(' 'Hello', "World ,"  ')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-1-b0cfd3ac126e>, line 1)

In [ ]:
# int , float, complex number, boolean

a = 10
print(type(a), a)
print(id(a))

<class 'int'> 10
135707540275728

In [ ]:
a = 10
a = 20
print(a)

20

In [ ]:
a = 10
print(id(a), a)
a = 20
print(id(a), a)

print(a, id(a))

135707540275728 10
135707540276048 20
20 135707540276048

In [ ]:
a = 10
b= 10
c = 10
print(a, b, c)

10 10 10

In [ ]:
a = b = c = 10
print(a, b, c)

10 10 10

In [ ]:
a, b, c = 10, 10, 10
print(a, b, c)

In [ ]:
a, b, c = 10, 20, 30
print(a, b, c)

10 20 30

In [ ]:
f = 10.0
c = 10+0j
b = True
print(f, type(f))
print(c , type(c))
print(b, type(b))

10.0 <class 'float'>
(10+0j) <class 'complex'>
True <class 'bool'>

In [ ]:
i = input("message/ prompt")
i

message/ prompthello

'hello'

In [ ]:
i = bool(input("I want false output "))
i

I want false output

False

In [ ]:
# operators
# 1. Arith operator
# +. -, /, *, //, **


print(100 - 90)
print(100 / 10)
print(2 * 5)
print(100//10)
print(5 + 5)

10
10.0
10
10
10

In [ ]:
# membership ope
# 1. in, 2. not in

print('p' in 'python')

True

In [ ]:
print('pp' not in 'python')

True

In [ ]:
# indentical ope
# 1. is, 2. is not

# --> object comparison

a = 10
b = 10
print(a is b)
print(a is not b)

print(a == b)

True
False
True

In [ ]:
# swapping two num

# input => a = 10, b =20
# expected output : a = 20, b = 10

a, b = 10, 20
print("Befor swap : a : ", a, " b = ", b)
a, b = b, a
print("After swap : a : ", a, " b = ", b)

Befor swap : a :  10  b =  20
After swap : a :  20  b =  10

In [ ]:
# formula based programming

# o/p ==> area of circle
r = float(input("Enter Integer value : "))
area = 3.14 * r ** 2
print("Area of circle : ", area)

Enter Integer value : 43
Area of circle :  5805.860000000001

In [ ]:
r = float(input("Enter Integer value : "))
# area = 3.14 * r ** 2
print("Area of circle : ", 3.14 * r ** 2)

Enter Integer value : 5
Area of circle :  78.5

In [ ]:
print("Area of circle : ", 3.14 * float(input("Enter Integer value : ")) ** 2)

Enter Integer value : 5
Area of circle :  78.5

In [ ]:
# print percentage
# user input -> total marks
# process -> total_marsk * 100 / 500
# Sample input -> 500
# expected output --> percentage : 100.0

total_marsk = float(input("Enter total marks : "))
per = (total_marsk * 100 ) / 500
print("percentage : ", per)

Enter total marks : 20
percentage :  4.0

In [ ]:
# take 3 inputs from user and print percentage

a, b, c = float(input("Enter total marks : ")), float(input("Enter total marks : ")), float(input("Enter total marks : "))


per = ((a + b + c) * 100 ) / 300
print("percentage : ", per)

Enter total marks : 100
Enter total marks : 100
Enter total marks : 100
percentage :  100.0

In [ ]:
# process -> (f - 32) * 5/9
f = float(input("Enter total marks : "))
cal = (f - 32) * 5/9
print("C : ", cal)

Enter total marks : 100
C :  37.77777777777778

In [ ]:
# Conditions

# if condition:  (Boolean) t/f
#   statement

In [ ]:

user = int(input("Enter time : "))

if user == 9:
  print("temple")

if user == 12:
  print("Movie")

if user == 6:
  print("Party")

Enter time : 12
Movie

In [ ]:
if condition:
  statement
else:
  statement

In [ ]:
user = int(input("Enter time : "))

if user == 9:
  print("temple")
else:
  print("Buy Cake")

Enter time : 5
Buy Cake

In [ ]:
# take user input --> num
# num is +ve or -ve

num = int(input("Enter number : "))
if num > 0:
  print(num , " is +ve")
else:
  print(num , " is -ve")

Enter number : 0
0  is -ve

In [ ]:
# take user input --> num
# num is +ve or -ve

num = int(input("Enter number : "))
if num > 0:
  print(num , " is +ve")
elif num == 0:
  print(num , " is zero")
else:
  print(num , " is -ve")

Enter number : 0
0  is zero

In [ ]:
# 5 inputs from user
# 40 >= pass
# 60 >= distinct
# 85 >= merit
# 40 < fail

# display --> percentage and class

In [ ]:
and --> when all is needed
or --> when any one is needed

In [ ]:
a, b, c, d, e = int(input("Enter Marks : ")), int(input("Enter Marks : ")), int(input("Enter Marks : ")), int(input("Enter Marks : ")), int(input("Enter Marks : "))

per = ((a + b + c + d +e )*100) // 500

if per <= 40:
  print(fail)
elif per <= 60:
  print(pass)
elif per < 85:
  print(distinct)
elif per <= 100:
  print(merit)

In [ ]:
a, b, c, d, e = int(input("Enter Marks : ")), int(input("Enter Marks : ")), int(input("Enter Marks : ")), int(input("Enter Marks : ")), int(input("Enter Marks : "))

if a >= 40 and b >= 40 and c >= 40 and d >= 40 and e >= 40:
  per = ((a + b + c + d +e )*100) // 500

  if per >= 0 and per <= 100:

    if per <= 40:
      print("Percentage : ", per, "fail")
    elif per <= 60:
      print("Percentage : ", per, "pass")
    elif per < 85:
      print("Percentage : ", per, "distinct")
    elif per <= 100:
      print("Percentage : ", per, "merit")
  else:
    print("Something went wrong")

else:
  print("Tum se naa ho payee...")

Enter Marks : 100
Enter Marks : 100
Enter Marks : 100
Enter Marks : 100
Enter Marks : 100
Percentage :  100 merit

In [ ]:
# yera is leap or not
# year is perfectly divisible by 4 but not 100 or can by 400

year = int(input("Enter Year : "))

if (year%4==0 and year%100 != 0) or year%400==0:
  print(year, " is leap year")
else:
  print(year, " is not a leap year")

Enter Year : 2024
2024  is leap year

In [ ]:
# take a number from user
# if num is perfectly divisible by 3 and 5 then num is accepted otherwise rejected

num = int(input("enter number : "))

if num % 3 == 0 and num % 5 == 0:
  print(num, "is accepted")
else:
  print(num, "is rejected")

enter number : 15
15 is accepted

In [ ]:
# loops
# 1. while
# 2. for loop

In [ ]:
# 1 . while loop --> menu driven, digit separation
# 1, 2,..., 10

while condition(boolean):
  statement

In [ ]:
# 1, 2,..., 10
start = 1
end = 10
while start <= end:
  print(start)
  start += 1  # start = start + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 10, 9, 8,.....1

start = 10
end = 1
while start >= end:
  print(start)
  start -= 1  # start = start + 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
-> 1, 3, 5, 7, 9, 11
-> 2, 4, 6, 8, 10, 12
-> 5, 2, 7, 4, 9, 6, 11

-> take input from user --> start and end
    print series

In [ ]:
# -> 1, 3, 5, 7, 9, 11

start = 1
end = 11

while start <= end:
  print(start)
  start += 2

1
3
5
7
9
11

In [ ]:
# -> 1, 3, 5, 7, 9, 11

start = 1
end = 11

while start <= end:
  if start % 2 == 1:
    print(start)
  start += 1

1
3
5
7
9
11

In [ ]:
# -> 1, 3, 5, 7, 9, 11

start = 1
end = 11

while start <= end:
  if start % 2 == 0:
    print(start)
  start += 1

2
4
6
8
10

In [ ]:
# -> 5, 2, 7, 4, 9, 6, 11

start = 1
end = 11

while start <= end:
  if start % 2 == 1:
    print(start+4)
  else:
    print(start)
  start += 1

5
2
7
4
9
6
11
8
13
10
15

In [ ]:
-> take input from user --> start and end
    print series

In [ ]:
# sample input --> 123450
# expecteed output --> 6

user_num = int(input("Enter a number : "))
count = 0
while user_num > 0:
  count += 1
  user_num //= 10

print("Digit : ", count)

Enter a number : 12
Digit :  2

In [ ]:
# for loop

# form-1
a = range(10)
print(type(a), a)

<class 'range'> range(0, 10)

In [ ]:
# form-2
range(1, 10)

range(1, 10)

In [ ]:
# form-3
range(1, 10, 2)

range(1, 10, 2)

In [ ]:
for x in collection datatype:
  statement


range(start, condition, increment/decrement)

start --> 0 --> optional  -> included
condition --> mandatory -> excluded +1
increment/decrement --> +1 --> optional

In [ ]:
for x in range(0, 1):
  print(x)

0

In [ ]:
for x in range(1, 10+1, 1):
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for x in range(10, 0, -1):
  print(x)

10
9
8
7
6
5
4
3
2
1

In [ ]:
# 1, 3, 5, 7, 9

for x in range(1, 10, 2):
  print(x)

1
3
5
7
9

In [ ]:
# 2, 4, 6, 8, 10
for x in range(2, 10+1, 2):
  print(x)

2
4
6
8
10

In [ ]:
start --> 1
end --> 5
o/p --> 1, 2, 3, 4, 5

start --> 5
end --> 1
o/p --> 5, 4, 3, 2, 1

In [ ]:
start = int(input("enter number "))
end = int(input("enter number "))

if start > end:

  for  x in range(start, end-1, -1):
    print(x)
else:
  for  x in range(start, end+1, 1):
    print(x)

enter number 1
enter number 6
1
2
3
4
5
6

In [ ]:
# # patterns

# * * *
# * * *
# * * *
# * * *

for row in range(4):
  for col in range(4):
    print("*", end = " ")
  print()

* * * *
* * * *
* * * *
* * * *

In [ ]:
for row in range(1, 5):
  for col in range(1, 5):
    print(row,col , end = "   ")
  print()

1 1   1 2   1 3   1 4
2 1   2 2   2 3   2 4
3 1   3 2   3 3   3 4
4 1   4 2   4 3   4 4

In [ ]:
for row in range(1, 5):
  for col in range(1, 5):
    print(row*10+col , end = "   ")
  print()

11   12   13   14
21   22   23   24
31   32   33   34
41   42   43   44

In [ ]:
# *
# * *
# * * *
# * * * *

for row in range(1, 5):
  for col in range(1, row+1):
    print("*" , end = " ")
  print()

*
* *
* * *
* * * *

In [ ]:
# 1 1 1 1
# 0 0 0 0
# 1 1 1 1
# 0 0 0 0


for row in range(1, 4+1):
  for col in range(4):
    print(row%2, end = " ")
  print()

1 1 1 1
0 0 0 0
1 1 1 1
0 0 0 0

In [ ]:
# 1 0 1 0
# 1 0 1 0
# 1 0 1 0
# 1 0 1 0


for row in range(4):
  for col in range(1, 4+1):
    print(col%2, end = " ")
  print()

1 0 1 0
1 0 1 0
1 0 1 0
1 0 1 0

In [ ]:
* * *
* *
*