<a href="https://colab.research.google.com/github/singhrimiumesh/CC_Python/blob/main/Python_Day_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# OOP

# -> Class --> class name should be start with capital
# function name should be start with samll letter

class Human:
  pass

def Human():
  return 10

obj = Human()

In [ ]:
# class ->

class Human:
  # name = "Python"  # --> instance variable
  def birth(self):
    self.name = input("Enter your name : ")
    print(id(self))

  def email(self):
    self.email = input("Enter your name : ")
    print(id(self))

In [ ]:
h1 = Human()

In [ ]:
h1.name

AttributeError: 'Human' object has no attribute 'name'

In [ ]:
h1.birth()

Enter your name : Dhanraj
136721134643104

In [ ]:
h1.email()

Enter your name : dh@gmail.com
136721134643104

In [ ]:
# access specifiers / access modifiers

# 1. public
# 2. private
# 3 protected
# 4. default


# --> private --> _private
# --> strngly private --> __strngly_private

In [ ]:
class Human:

  name = "Dhanraj"
  _phone = "00999999999"
  __atm_pin = "122345"

In [ ]:
h1 = Human()

In [ ]:
h1.name

'Dhanraj'

In [ ]:
h1._phone

'00999999999'

In [ ]:
h1.__atm_pin

AttributeError: 'Human' object has no attribute '__atm_pin'

In [ ]:
class Human:

  def setName(self):
    self.name = input("Enter your name : ")

  def getName(self):
    print("Name -> ", self.name)

In [ ]:
h1 = Human()

In [ ]:
h1.setName()

Enter your name : Dhanraj

In [ ]:
h1.getName()

Name ->  Dhanraj

In [ ]:
# constructor
# def __init__(self)

class Human:

  def __init__(self, name, age):
    self.name = name
    self.age = age


  def setName(self):
    self.name = input("Enter your name : ")

  def getName(self):
    print("Name -> ", self.name)

In [ ]:
h1 = Human('Raj', 10)

In [ ]:
h1.getName()

Name ->  Raj

In [ ]:
h1.setName()
h1.getName()

Enter your name : hello
Name ->  hello

In [ ]:
# setter methods -->
    def setName(self, name):
      pass
# getter method -->
    def getName(self):
      return

In [ ]:
# find area of circle
# print area

class Circle:

  def setRadius(self):
    self.radius = int(input("Enter Radius : "))
  def getArea(self):
    return f"Area of circle is -> {3.14 * self.radius ** 2}"

In [ ]:
c1 = Circle()

In [ ]:
c1.setRadius()

Enter Radius : 10

In [ ]:
c1.getArea()

'Area of circle is -> 314.0'

In [ ]:
# find area of circle
# print area

class Circle:

  def __init__(self):
    self.radius = int(input("Enter Radius : "))
    print(f"Area of circle is -> {3.14 * self.radius ** 2}")

  # def setRadius(self):
  #   self.radius = int(input("Enter Radius : "))
  # def getArea(self):
  #   return f"Area of circle is -> {3.14 * self.radius ** 2}"

In [ ]:
c1 = Circle()

Enter Radius : 10
Area of circle is -> 314.0

In [ ]:
# define a class with attributes name, age and display all data

class Circle:

  def __init__(self, radius):
    self.radius = radius

  def setRadius(self, radius):
    # self.radius = input("Enter Radius -> ")
    self.radius = radius

  def getRadius(self):
    return self.radius

  def printArea(self):
    print("Area of circle is -> ", 3.14 * self.radius ** 2)

In [ ]:
c1 = Circle(10)
c1.getRadius()

10

In [ ]:
c1.getRadius()

10

In [ ]:
c1.printArea()

Area of circle is ->  314.0

In [ ]:
1 -> data hiding --> data members should be private
2 -> abstraction --> display servies
3 -> encapsulation --> data hiding + abstraction
4 -> Inheritance --> code reuse
5 -> Polymorphism --> easiness

In [ ]:
class Human:

  def __init__(self, name, age):
    self.name = name
    self.age = age

In [ ]:
c1 = Human("Raj", 10)

print(c1)

<__main__.Human object at 0x7c58abf22fb0>

In [ ]:
class Human:

  def __init__(self):
    self.name = "Python"
    self.age = 19

  def __str__(self):
    return f"Name -> {self.name}, Age -> {self.age}"

In [ ]:
c1 = Human()

print(c1)

Name -> Python, Age -> 19

In [ ]:
class Human:

  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"Name -> {self.name}, Age -> {self.age}"

  def __del__(self):
    print("R.I.P", self.name )

In [ ]:
h1 = Human("Raj", 10)
print(h1)

Name -> Raj, Age -> 10
R.I.P Raj

In [ ]:
'''
class members -> only remains with and need name of class : any
instance member --> Aadhar card no -> 1221 2212 2222
local members'''

In [ ]:
class Human:

  aadhar_no = 111122223333
  population = 0

  def __init__(self, name, age):
    self.name = name
    self.age = age
    Human.aadhar_no += 1
    self.aadhar_no = Human.aadhar_no

  def __str__(self):
    return f"\n ------------- Adhar Card ------------- \n N0 -> {self.aadhar_no} \n Name -> {self.name} \n Age -> {self.age}"

  def population(self):
    return f"Tatol Population -> {Human.population}"

In [ ]:
obj1 = Human("Raj", 10)
print(obj1)

 ------------- Adhar Card -------------
 N0 -> 111122223334
 Name -> Raj
 Age -> 10, <function Human.population at 0x7c58abe34700>

In [ ]:
print(obj1.population())

Tatol Population -> <function Human.population at 0x7c58abe34700>

In [ ]:
'''
Banking System

one must code banking system that can do
1.open account:
  take name,gender,and minimumbalance 3000 to open account.
  account number auto generated
  # class variable

2.check balance():
	1st read account number, search account, if found then show details

3.withdraw():
	check minimum balance should be kept 2000 else will not allow transection

4.deposit():
	read amount ,update balance but amount can not be -ve

2,3,4---one must give account number,search account and then
perform needed operations
'''

In [ ]:
import time
global_account_no = 10000000100
# bank = {}
class Bank:

  def __init__(self, name, gender, amount):
    self.name = name
    self.gender = gender
    self.amount = amount
    global global_account_no   # create global variable
    global_account_no += 1     # generate account number
    self.account_no = global_account_no

    print(f"Congrats {self.name} \nYour Account Created Successfully... \nYour Account No : {self.account_no}")


  def __str__(self):
    return "Account No : "+ str(self.account_no) + "\nName : "+ self.name + "\nGender : "+self.gender + str(self.amount)


  def withdraw(self, amount):

    if self.amount - amount <= 2000:
      print("Insufficient balance")
    else:
      self.amount -= amount
      print("Amount deducted successfully and after last transation Your Balance is : ", self.amount)


  def deposite(self, amount):
    if amount <= 0:
      print("Insufficient balance")
    else:
      self.amount += amount
      for x in range(10):
        print("-", end = '')
        time.sleep(1)
      print("Amount deducted successfully and after last transation Your Balance is : ", self.amount)



  def check_balance(self):
    pass

  def open_account(self):
    pass


  def money_transfer(self, objr, amount):

    if self.amount > self.amount - amount -2000:
      self.amount -= amount
      objr.amount += amount
      print(self)
      print(objr)
    else:
      print("Not possible deu to the main balance reached...")

In [ ]:
b = Bank("Dhanraj", "Male", 20000)

Congrats Dhanraj
Your Account Created Successfully...
Your Account No : 10000000101

In [ ]:
print(b)

Account No : 10000000101
Name : Dhanraj
Gender : Male20000

In [ ]:
b.withdraw(2000)

Amount deducted successfully and after last transation Your Balance is :  18000

In [ ]:
b.deposite(2000)

Amount deducted successfully and after last transation Your Balance is :  20000

In [ ]:
bank = {}

name
gender

    -> amount
          -> condition -> True   -> Message
          -> condition -> False  -> Message

key -> account number
value -> Object

In [ ]:
bank = {}

In [ ]:
# account open

name = input("Enter Your Name : ")
gender = input("Enter Your Gender : ")

while True:
  amount = float(input("Enter Amount : "))

  if amount < 3000:
    print("Please Deposite at least Rs.3000 for New Account")
  else:
    new_account = Bank(name, gender, amount)

    bank[new_account.account_no] = new_account    # key : account_no , value : object reference
    break


# open_account(name, gender):
      # code

Enter Your Name : 9Tara
Enter Your Gender : Female
Enter Amount : 30
Please Deposite at least Rs.3000 for New Account
Enter Amount : 3000
Congrats 9Tara
Your Account Created Successfully...
Your Account No : 10000000101

In [ ]:
# Searching
#     account number
#           --> True --> Message
#           --> False --> Message


user_account = int(input("Enter Account No : "))
# bank[user_account]

for acc_no in bank.keys():

  if acc_no == user_account:
    print("Record Found -> ")
    print(bank[user_account])
  else:
    print("Record Not Found")

Enter Account No : 10000000101
Record Found ->
Account No : 10000000101
Name : 9Tara
Gender : Female

In [ ]:
# withdraw

user_account = int(input("Enter Account No : "))
# bank[user_account]

for acc_no in bank.keys():

  if acc_no == user_account:
    print("\n ----------------- Account Fount -----------------")
    amount = float(input("Enter Amount : "))
    b.withdraw(amount)
  else:
    print("Sorry... Try Agaig")

Enter Account No : 10000000101

 ----------------- Account Fount -----------------
Enter Amount : 10000
Amount deducted successfully and after last transation Your Balance is :  9000.0

In [ ]:
# deposite

user_account = int(input("Enter Account No : "))
# bank[user_account]

for acc_no in bank.keys():

  if acc_no == user_account:
    print("\n ----------------- Account Fount -----------------")
    amount = float(input("Enter Amount : "))
    b.deposite(amount)
  else:
    print("Sorry... Try Agaig")

Enter Account No : 10000000101

 ----------------- Account Fount -----------------
Enter Amount : 100
----------Amount deducted successfully and after last transation Your Balance is :  20100.0

In [ ]:
# money transfer
#     -> sender --> acc_no
#     -> receiver -->  acc_no

              # --> true --> amount transfer
              # --> false --> message

In [ ]:

bank = {}

while True:

  print('''1. New Account
2. Deposite
3. Withdraw
4. Money Transfer
5. Check Balance
0. Exit
  ''')

  choise = int(input("Select Option"))

  if choise == 1:  # 1. New Account

    name = input("Enter Your Name : ")
    gender = input("Enter Your Gender : ")

    while True:
      amount = float(input("Enter Amount : "))

      if amount < 3000:
        print("Please Deposite at least Rs.3000 for New Account")
      else:
        new_account = Bank(name, gender, amount)

        bank[new_account.account_no] = new_account    # key : account_no , value : object reference
        break

  elif choise == 2:  # 2.deposite
    user_account = int(input("Enter Account No : "))

    for acc_no in bank.keys():

      if acc_no == user_account:
        print("\n ----------------- Account Fount -----------------")
        amount = float(input("Enter Amount : "))
        b.deposite(amount)
      else:
        print("Sorry... Try Agaig")

  elif choise == 3: # 3. withdraw
    user_account = int(input("Enter Account No : "))
# bank[user_account]

    for acc_no in bank.keys():

      if acc_no == user_account:
        print("\n ----------------- Account Fount -----------------")
        amount = float(input("Enter Amount : "))
        b.withdraw(amount)
      else:
        print("Sorry... Try Agaig")

  elif choise == 4:  # 4.money transfer
    # write your code here
    rec = int(input("Enter Receiver Account No : "))
    sen = int(input("Enter Sender Account No : "))

    if rec in bank.keys() and sen in bank.keys():
      print("\nRecord Found")
      objr = bank[rec]
      objs = bank[sen]

      amount = float(input("Enter Amount "))

      # objs.money_transfer(objr, amount)
      objs.money_transfer(objr, amount)

  elif choise == 5:  # 5. check balance
    # Apply searching logic and display data
    user_account = int(input("Enter Account No : "))
# bank[user_account]

    for acc_no in bank.keys():

      if acc_no == user_account:
        print("Record Found -> ")
        print(bank[user_account], "\n")
      else:
        print("Record Not Found \n")


  elif choise == 0:
    print("Thanks To Used")
    break

1. New Account
2. Deposite
3. Withdraw
4. Money Transfer
5. Check Balance
0. Exit

Select Option1
Enter Your Name : Dhanraj
Enter Your Gender : Male
Enter Amount : 500
Please Deposite at least Rs.3000 for New Account
Enter Amount : 5000
Congrats Dhanraj
Your Account Created Successfully...
Your Account No : 10000000102
1. New Account
2. Deposite
3. Withdraw
4. Money Transfer
5. Check Balance
0. Exit

Select Option1
Enter Your Name : Raj
Enter Your Gender : Male
Enter Amount : 90000
Congrats Raj
Your Account Created Successfully...
Your Account No : 10000000103
1. New Account
2. Deposite
3. Withdraw
4. Money Transfer
5. Check Balance
0. Exit

Select Option2
Enter Account No : 10000000103
Sorry... Try Agaig

 ----------------- Account Fount -----------------
Enter Amount : 10000
----------Amount deducted successfully and after last transation Your Balance is :  30000.0
1. New Account
2. Deposite
3. Withdraw
4. Money Transfer
5. Check Balance
0. Exit

Select Option4
Enter Receiver Account No : 10000000103
Enter Sender Account No : 10000000102

Record Found
Enter Amount 1000
Account No : 10000000102
Name : Dhanraj
Gender : Male4000.0
Account No : 10000000103
Name : Raj
Gender : Male91000.0
1. New Account
2. Deposite
3. Withdraw
4. Money Transfer
5. Check Balance
0. Exit

Select Option0
Thanks To Used

In [ ]:
# Data hiding , abstraction, encapsulation, Inheritance


class Demo:

  name = "" #  -> public
  _phone = ""
  __pin = ""

  # abstraction
  def intro(self):
    print("Hello")

  def dream(self):
    print("Developer")

In [ ]:
all data members are private or strongly private --> tightly encapsulated
at least one data members are public --> encapsulated

In [ ]:

d = Demo()

d.dream()

In [ ]:
# Inheritance
#    ->

In [ ]:
class A(B):
  pass

class B(A):
  pass


# cyclic inheritance

NameError: name 'B' is not defined

In [ ]:
# Inheritance
#    -> 1. Single
#    -> 2. multiple
#    -> 3. Multi level
#    -> 4. hybride
#    -> 5. hierarchical

In [ ]:
# 1. Single Inheritance

class Parent:

  def property(self):
    print("Cash/ Gold / Flats")

class Child(Parent):
  pass

In [ ]:
p = Parent()
p.property()

Cash/ Gold / Flats

In [ ]:
c = Child()
c.property()

Cash/ Gold / Flats

In [ ]:
# 2. Multiple Inheritance

class Parent1:

  def property(self):
    print("Cash - 2 ")

class Parent2:

  def property(self):
    print("Cash - 10 / Gold = 2kg / Flats- 6")

class Child(Parent2, Parent1):
  pass

In [ ]:
c = Child()
c.property()

Cash - 2

In [ ]:
c = Child()
c.property()

Cash - 10 / Gold = 2kg / Flats- 6

In [ ]:
# 3. Multilevel

Parent
  |
child
  |
sub-child

In [ ]:
class Parent:

  def property(self):
    print("Cash")

class Child(Parent):
  def property2(self):
    print("Flats")

class Sub_child(Child):

  def property3(self):
    print("Gold")

In [ ]:
p = Parent()
p.property()

Cash

In [ ]:
c = Child()
c.property()

Cash

In [ ]:
c.property2()

Flats

In [ ]:
sc = Sub_child()
sc.property()

Cash

In [ ]:
sc.property2()

Flats

In [ ]:
sc.property3()

Gold

In [ ]:
# 4. hierarchical

# parent --> child-1
      #  --> child-2

class Parent:

  def property_5(self):
    print("2-3 flats")

class Child_1(Parent):
  pass

class Child_2(Parent):
  pass

In [ ]:
c = Child_1()
c.property_5()

2-3 flats

In [ ]:
c = Child_2()
c.property_5()

2-3 flats

In [ ]:
# 5. Hybride

class A:
  pass

class B(A):  # single
  pass

class C(B):  # multi level
  pass

class D:
  pass

class E(A, D):  # multiple
  pass

class F(A):   # hierarchical
  pass

In [ ]:
class A:

  def printA(self):
    print("Hello, I am from A")

class B(A):

  def printB(self):
    print("Hello, I am from B")

In [ ]:
b = B()
b.printA()

Hello, I am from A

In [ ]:
b.printB()

Hello, I am from B

In [ ]:
class A:

  def __int__(self):
    print("Hello, class A constructor")

  def printA(self):
    print("Hello, I am from A")

class B(A):

  def __int__(self):
    print("Hello, class B constructor")

  def printB(self):
    print("Hello, I am from B")

In [ ]:
c = B()

In [ ]:
c.printA()

Hello, I am from A

In [ ]:
super() -->

class A:
  def__init__():
    pass

class B:
  def __init__():  # FCFT
    super().__init__()
    pass

b = B()

In [ ]:
class ParentA:

  def __int__(self):
    print("Hello, class A constructor")

  def printA(self):
    print("Hello, I am from A")

class ParentB(ParentA):

  def __init__(self):
    super().__init__()
    print("Hello, class B constructor")

  def printB(self):
    print("Hello, I am from B")

In [ ]:
b = ParentB()

In [ ]:
class ParentA:

  def __init__(self,dataa):
    print("Hello, class A constructor")
    print(dataa)

class ParentB(ParentA):

  def __init__(self, dataa, datab):
    super().__init__(dataa)
    print(datab)

class ParentC(ParentB):

  def __init__(self, dataa, datab, datac):
    super().__init__(dataa, datab)
    print(datac)


c = ParentC(10, 100, 1000)

Hello, class A constructor
10
100
1000

In [ ]:
class GrandFather:

  def __init__(self, name):
    self.name = name

  def show_relationship(self):
    return f"{self.name}"

class Father(GrandFather):
  def __init__(self, father, grand_father):
    super().__init__(grand_father)
    self.father = father

  def show_relationship(self):
    return f"Father -> {self.father}, {super().show_relationship()}"

class Child(Father):
  def __init__(self, name, father, grand_father):
    super().__init__(father, grand_father)
    self.name = name

  def show_relationship(self):
    return f"Father -> {self.father}, {super().show_relationship()}"

In [ ]:
while True:
  print('''1.
2.
3. Exit''')
  user = int(input("Select Option : "))

  if user == 1:
    name = input("Enter Name -> ")
    father = input("Enter Name -> ")
    gf = input("Enter Name -> ")

    c = Child(name, father, gf)
    print(c.show_relationship())

  elif user == 2:
    pass
  elif user == 3:
    print("STOP")
    break
  else:
    print("Select Correct option")

1.
2.
3. Exit
Select Option : 1
Enter Name -> raam
Enter Name -> sham
Enter Name -> vijay
Father -> sham, Father -> sham, raam
1.
2.
3. Exit
Select Option : 3
STOP

In [ ]:
# Polymorphism
#       -> compile time  -> overloading
#       -> run time      -> overriding


class A:
  def add(self, num1, num2, num3):
    return f" parent -> {num1+ num2}"

class BB(A):
  def add(self, num1, num2, num3):
    return f" Child -> {num1+ num2}"

In [ ]:
b = A()
b.add(10, 20, 30)

' parent -> 30'

In [ ]:
# Exception Handling

try:
  # risky code
except Exception_name(Parent/child):
  # handling code

In [ ]:
a = int(input("Enter Number -> "))
b = int(input("Enter Number -> "))

try:
  c = a // b

  if c == 2:
    print("Great")
  else:
    print("Ooops... try again")

except Exception:
  print("Something went wrong...")

Enter Number -> 10
Enter Number -> 0
Something went wrong...

In [ ]:
try:
  # risky code
except (Parent/child):
  # handling code

finally:
  # clean-up code

In [ ]:
a = int(input("Enter Number -> "))
b = int(input("Enter Number -> "))

try:
  c = a // b
  print(c)
except Exception:
  print("Something went wrong...")

finally:
  print("Executed...")

Enter Number -> 10
Enter Number -> 2
5
Executed...

In [ ]:
a = int(input("Enter Number -> "))
b = int(input("Enter Number -> "))

try:
  c = a // b
  print(c)
except Exception:
  print("Something went wrong...")

finally:
  print("Executed...")

Enter Number -> 10
Enter Number -> 0
Something went wrong...
Executed...

In [ ]:
a = int(input("Enter Number -> "))
b = int(input("Enter Number -> "))

try:
  c = a // b
  print(c)
except Exception:
  print("Parent Exception Called...")

except ZeroDivisionError:
  print("Child Exception Called...")

finally:
  print("Executed...")

Enter Number -> 10
Enter Number -> 0
Parent Exception Called...
Executed...

In [ ]:
a = int(input("Enter Number -> "))
b = int(input("Enter Number -> "))

try:
  c = a // b
  print(c)

except ZeroDivisionError:
  print("Child Exception Called...")

except Exception:
  print("Parent Exception Called...")

finally:
  print("Executed...")

Enter Number -> 10
Enter Number -> 0
Child Exception Called...
Executed...

In [ ]:
Count of pairs in an array whose product is a perfect square
Given an array arr[] of N integers, the task is
to find the number of pairs (arr[i], arr[j]) such that arr[i]*arr[j] is a perfect square.
Note: arr[i] is not equal to arr[j]
input: arr[] = { 1, 2, 4, 8, 5, 6}
Output: 2
Explanation:
The pairs such that the product of an element is perfectly square are (1, 4) and (8, 2).
Input: arr[] = { 1, 2, 3, 4, 5, 6, 7, 8, 9 }
Output: 4
Explanation:
The pairs such that the product of an element is perfectly square are
(1, 4), (1, 9), (2, 8) and (4, 9).

In [ ]:
def Check(num):

  sqr_root = int(num**0.5)
  if sqr_root**2 == num:
    return True
  else:
    return False


def count_pair(arr):
  count = 0
  for x in range(len(arr)):
    for y in range(x+1, len(arr)):
      if Check(arr[x] * arr[y]):
        count += 1
  return count

arr = [1, 2, 3, 4, 5, 6, 7, 8, 9]
count_pair(arr)

4