In [ ]:
Bill No : 100000000101
------------------------------
Tea     12    5
Water   20    1
------------------------------
Total Amount : 80

In [ ]:

import time

bill_no = 100000000100

while True:

  on_off = input("Machine On or OFF (Y/N) : ").upper()

  if on_off == "Y":

    tea = coffee = water = banmaska = 0
    time.sleep(3)

    user = input("Do You Want To Order : (Y/N)").upper()

    if user == "Y":

      tea = int(input("Tea \t 12 \t "))
      coffee = int(input("Coffee \t 25 \t "))
      water = int(input("Water \t 20 \t "))
      banmaska = int(input("Banmaska \t 25 \t "))


      # Bill Priting
      bill_no += 1

      time.sleep(3)
      print("\n\nBill No :/t ", bill_no)
      print("----------------------------------")

      if tea > 0:
        print("Tea \t\t 12 \t ", tea, (tea*12))

      if coffee > 0:
        print("Coffee \t\t 25 \t ", coffee,( coffee*25))

      if water > 0:
        print("Water \t\t 20 \t ", water, (water*20))

      if banmaska > 0:
        print("Banmaska \t 25 \t ", banmaska, (banmaska*25))

      print("----------------------------------")

      total_bill = (tea*12) + (coffee*25) + (water*20)+ (banmaska*25)
      print("Total Payable Amount : \t", total_bill ,"\n\n")


    elif user == "N":
      print("\nThanks For Visiting \n")

    else:
      print("\nProvide Correct Data \n")

  elif on_off == "N".upper():
    print("\n ----------- Switch OFF ----------- \n")
    break

  else:
    pass

Machine On or OFF (Y/N) : y
Do You Want To Order : (Y/N)y
Tea 	 12 	 10
Coffee 	 25 	 10
Water 	 20 	 5
Banmaska 	 25 	 10


Bill No :/t  100000000101
----------------------------------
Tea 		 12 	  10 120
Coffee 		 25 	  10 250
Water 		 20 	  5 100
Banmaska 	 25 	  10 250
----------------------------------
Total Payable Amount : 	 720


Machine On or OFF (Y/N) : y
Do You Want To Order : (Y/N)y
Tea 	 12 	 2
Coffee 	 25 	 2
Water 	 20 	 0
Banmaska 	 25 	 0


Bill No :/t  100000000102
----------------------------------
Tea 		 12 	  2 24
Coffee 		 25 	  2 50
----------------------------------
Total Payable Amount : 	 74


Machine On or OFF (Y/N) : gfxgf
Machine On or OFF (Y/N) : n

 ----------- Switch OFF -----------

In [ ]:
# Logic Building

In [ ]:

'''
10 -> 4
20 -> 1 '''

# condition --> without using count() function

l = [10, 10, 10, 20, 40, 90, 2, 30, 10]
uni_list = set()

for x in range(len(l)):   # set = (10, 20, ....)

  if l[x] not in uni_list:
    counter = 0

    for y in range(len(l)):
      if l[x] == l[y]:
        counter += 1

    print(l[x], " -> ", counter)
    uni_list.add(l[x])

10  ->  4
20  ->  1
40  ->  1
90  ->  1
2  ->  1
30  ->  1

In [ ]:
# declare a list -->
# l1 = [10, 20, 90]
# l2 = [0, 3, 100]

'''
1 --> [10, 20, 90, 0, 3, 100]
2 --> [0, 3, 10, 20, 90, 100]
'''

l1 = [10, 20, 90]
l2 = [0, 3, 100]

print(l1 + l2)
l1.extend(l2)   # [10, 20, 90, 0, 3, 100]

[10, 20, 90, 0, 3, 100]

In [ ]:
l1 = [10, 20, 90]
l2 = [0, 3, 100]
print(sorted(l1+l2))

[0, 3, 10, 20, 90, 100]

In [ ]:
# declare a empty list
# insert element till first blanck is given
# and print original list and
#  output list --> [[even], [odd]]
# Sample input --> [10, 2, 3, 4, 5, 6, 7]
# Expected output --> [[10, 2, 4, 5], [3, 5, 7]]


user_list = []
l2 = [[], []]

while True:
  user_data = input("Enter Number -> ")

  if user_data == "":
    break
  else:
    user_list.append(int(user_data))

for num in user_list:
  if num % 2 == 0:
    l2[0].append(num)
  else:
     l2[1].append(num)


print(user_list)
print(l2)

Enter Number -> 10
Enter Number -> 1
Enter Number -> 2
Enter Number -> 3
Enter Number -> 4
Enter Number -> 5
Enter Number -> 6
Enter Number -> 7
Enter Number -> 8
Enter Number ->
[10, 1, 2, 3, 4, 5, 6, 7, 8]
[[10, 2, 4, 6, 8], [1, 3, 5, 7]]

In [ ]:
# [[even], [odd]]
# [even]
# [odd]

for list in l2:
  print(list)

[10, 2, 4, 6, 8]
[1, 3, 5, 7]

In [ ]:
# Remove duplicate elements from list
# Sample Input -> l = [10, 10, 10, 20, 10, 20, 20, 30, 10]
# Expected Output -> [10, 20, 30]  -> {10, 20, 30}

l = [10, 10, 10, 20, 10, 20, 20, 30, 10]
outPut = []

for x in l:
  if x not in outPut:
    outPut.append(x)
print(outPut)

[10, 20, 30]

In [ ]:
l = [10, 10, 10, 20, 10, 20, 20, 30, 10]
outPut = []
s = set()

for x in l:
  if x not in s:
    s.add(x)

print(s)

{10, 20, 30}

In [ ]:
# Sample Input --> [10, 20, 30, 40]   -> 5, 10, 15, 20
#                  [10, 20, 30, 40]
# Expected output --> [15, 30, 45, 60]

l1 = [10, 20, 30, 40]
l2 = [10, 20, 30, 40]
for x in range(len(l1)):
  # print(l1[x] + l2[x] // 2)
  l1[x] = l1[x] + l2[x] // 2
print(l1)

[15, 30, 45, 60]

In [ ]:
# sample Input -->  [10, 10, 10, 20, 40, 90, 2, 30, 10], remove -> 10
# Expected output -> [20, 40, 90, 2, 30]

l = [10, 10, 10, 20, 40, 90, 2, 30, 10]
user = int(input("Enter Element : "))

while True:
  if l.count(user) == 0:
    break
  # print(l)
  l.remove(user)

l

Enter Element : 10

[20, 40, 90, 2, 30]

In [ ]:
# String is palindrome or not
# sample inpute --> 123
# expected output ---> not palindrome

# sample inpute --> 12321
# expected output ---> num is palindrome

user = input("Enter Element : ")

rev = user[::-1]

if rev == user:
  print("Yes Palindrome")
else:
  print("Not a  Palindrome")

Enter Element : 12321
Yes Palindrome

In [ ]:
import math

a = 10
print(math.pow(a, 2))

100.0

In [ ]:
import math as m

a = 10
print(m.pow(a, 2))

100.0

In [ ]:
from math import pow

a = 10
print(math.pow(a, 2))

100.0

In [ ]:
a = math.floor(100.50)
print(a)

100

In [ ]:
print(math.ceil(100.50))

101

In [ ]:
import random

a = random.randint(1, 100)
print(a)

70

In [ ]:
print( random.randint(1, 900))

100

In [ ]:
print( random.randint(0, 9), random.randint(0, 9), random.randint(0, 9), random.randint(0, 9))

9 1 0 4

In [ ]:
for num in range(1, 5):
  print(random.randint(0, 9), end = " ")

4 5 4 7

In [ ]:
import random
l = ['a', 'b', 'c', 'd']
random.shuffle(l)

In [ ]:
l

['a', 'b', 'c', 'd']

In [ ]:
# Project -> Number guessing
import random

machine = random.randint(1, 10)
user = int(input("Guess A Number : "))
while True:

  print(machine)
  if user == machine:
    print("You Won...👏👏👏👏👏")
    break
  else:
    print("Try Again....")
    user = int(input("Guess A Number : "))

Guess A Number : 5
7
Try Again....
Guess A Number : 7
7
You Won...👏👏👏👏👏

In [ ]:
# 1 - 100
# computer --> 30
# user --> 50 --> print --> guess lower
# user --> 25 --> print --> guess higher
# user --> 28 --> print --> guess higher
# user --> 30 --> you won


import random

machine = random.randint(1, 100)
while True:

  user = int(input("Guess Number -> "))
  if user == machine:
    print("You Won...👏👏👏👏👏")
    break
  elif user > machine:
    print("guess lower...")
  elif user < machine:
    print("guess higher...")

Guess Number -> 50
guess higher...
Guess Number -> 75
guess higher...
Guess Number -> 85
guess lower...
Guess Number -> 80
guess higher...
Guess Number -> 83
guess lower...
Guess Number -> 82
You Won...👏👏👏👏👏

In [ ]:
# 1 - 100
# computer --> 30
# user --> 50 --> print --> guess lower
# user --> 25 --> print --> guess higher
# user --> 28 --> print --> guess higher
# user --> 30 --> you won


import random

machine = random.randint(1, 100)
attempts = 0

while True:

  user = int(input("Guess Number -> "))
  if user == machine:
    print("You Won...👏👏👏👏👏")
    attempts += 1
    break
  elif user > machine:
    print("guess lower...")
    attempts += 1
  elif user < machine:
    print("guess higher...")
    attempts += 1

print("You Attempt : ", attempts)

Guess Number -> 50
guess higher...
Guess Number -> 75
guess lower...
Guess Number -> 65
guess lower...
Guess Number -> 60
guess lower...
Guess Number -> 55
guess higher...
Guess Number -> 57
guess higher...
Guess Number -> 58
You Won...👏👏👏👏👏
You Attempt :  7

In [ ]:
1. Registration
2. List / Display Data
3. Update
4. Search
5. Exit

registration_no = 10000000101

1 --> Registration -->
            - name
            - gender
            - contact


2. Display --> display all regitered students

3. Update -->
      - registration_no
              - name
              - gender
              - contact

4. Search -->
      - registration_no
             -> student fount
             -> student not fount

5. Exit -->
      shut down system

In [ ]:
registration_no = 10000000100


student_data = {}

while True:

  user = int(input('''\t   1. Registration
           2. Show All Data
           3. Update
           4. Search
           5. Exit
       '''))


  if user == 1:

    name, gender, phone = input("Enter Your Name : "), input("Enter Your Gender : "), input("Enter Your Contact : ")
    registration_no += 1
    register = registration_no

    student_data[register] = [name, gender, phone]  # key -> registration no, value --> list

    print("----------------------------------------------------------------")
    print(f'''
    Registration Successfully....
    Your Register Number is : {register} \n''')
    print("----------------------------------------------------------------")
    # print("Registration Successfully and Your Register Number is : ", {register})

  elif user == 2:
    print('Register Students')
    print("-----------------------------------------")
    print("\n Registration No \t Name \t\t Gender \t Contact")

    for record in student_data.keys():
      record_list = student_data[record]
      print(f"{record} \t\t {record_list[0]} \t {record_list[1]} \t  {record_list[2]}")
    print("-----------------------------------------")

  elif user == 3:
    reg = int(input("Enter Your Registration No : "))

    if reg in student_data:
      print(f"Student Exists --> {reg}" )

      record_list = student_data[reg]

      choise = int(input('''
      1. Name
      2. Gender
      3. Contact
              '''))

      if choise == 1:
        record_list[0] = input("Enter Your Name : ")
      elif choise == 2:
        record_list[1] = input("Enter Your Gender : ")

      elif choise == 3:
        record_list[2] = input("Enter Your Contact : ")

        student_data[reg] = record_list
    else:
      print("Student Not Found")


  elif user == 4:

    reg = int(input("Enter Your Registration No : "))

    if reg in student_data:
      print("Student Exists --> ", student_data[reg])
    else:
      print("Student Not Fount...")

  elif user == 5:
    print("🙏🙏🙏🙏 Thanks To used My Student Application 🙏🙏🙏🙏")
    break

  else:
    print("Please Provide Correct Option")

	   1. Registration
           2. Show All Data
           3. Update
           4. Search
           5. Exit
       1
Enter Your Name : Dhanraj
Enter Your Gender : Male
Enter Your Contact : 222222
----------------------------------------------------------------

    Registration Successfully....
    Your Register Number is : 10000000101

----------------------------------------------------------------
	   1. Registration
           2. Show All Data
           3. Update
           4. Search
           5. Exit
       1
Enter Your Name : Rashamika
Enter Your Gender : Female
Enter Your Contact : 323333333
----------------------------------------------------------------

    Registration Successfully....
    Your Register Number is : 10000000102

----------------------------------------------------------------
	   1. Registration
           2. Show All Data
           3. Update
           4. Search
           5. Exit
       1
Enter Your Name : Vijay
Enter Your Gender : Femal
Enter Your Contact : 323232
----------------------------------------------------------------

    Registration Successfully....
    Your Register Number is : 10000000103

----------------------------------------------------------------
	   1. Registration
           2. Show All Data
           3. Update
           4. Search
           5. Exit
       1
Enter Your Name : 9Tara
Enter Your Gender : femal
Enter Your Contact : 343454534
----------------------------------------------------------------

    Registration Successfully....
    Your Register Number is : 10000000104

----------------------------------------------------------------
	   1. Registration
           2. Show All Data
           3. Update
           4. Search
           5. Exit
       2
Register Students
-----------------------------------------

 Registration No 	 Name 		 Gender 	 Contact
10000000101 		 Dhanraj 	 Male 	  222222
10000000102 		 Rashamika 	 Female 	  323333333
10000000103 		 Vijay 	 Femal 	  323232
10000000104 		 9Tara 	 femal 	  343454534
-----------------------------------------
	   1. Registration
           2. Show All Data
           3. Update
           4. Search
           5. Exit
       3
Enter Your Registration No : 10000000103
Student Exists --> 10000000103

      1. Name
      2. Gender
      3. Contact
              2
Enter Your Gender : Male
	   1. Registration
           2. Show All Data
           3. Update
           4. Search
           5. Exit
       2
Register Students
-----------------------------------------

 Registration No 	 Name 		 Gender 	 Contact
10000000101 		 Dhanraj 	 Male 	  222222
10000000102 		 Rashamika 	 Female 	  323333333
10000000103 		 Vijay 	 Male 	  323232
10000000104 		 9Tara 	 femal 	  343454534
-----------------------------------------
	   1. Registration
           2. Show All Data
           3. Update
           4. Search
           5. Exit
       3
Enter Your Registration No : 10000000104
Student Exists --> 10000000104

      1. Name
      2. Gender
      3. Contact
              2
Enter Your Gender : Female
	   1. Registration
           2. Show All Data
           3. Update
           4. Search
           5. Exit
       4
Enter Your Registration No : 10000000104
Student Exists -->  ['9Tara', 'Female', '343454534']
	   1. Registration
           2. Show All Data
           3. Update
           4. Search
           5. Exit
       4
Enter Your Registration No : 10000000109
Student Not Fount...
	   1. Registration
           2. Show All Data
           3. Update
           4. Search
           5. Exit
       5
🙏🙏🙏🙏 Thanks To used My Student Application 🙏🙏🙏🙏