In [ ]:
# String

s = 'Hello'
s

'Hello'

In [ ]:
s = ''' Hello
    World '''
s

' Hello \n    World '

In [ ]:
s = "धनराज हा सीसी मध्ये खूप चांगला ट्रेनर आहे"
s

'धनराज हा सीसी मध्ये खूप चांगला ट्रेनर आहे'

In [ ]:
s = "ਧਨਰਾਜ ਸੀਸੀ ਵਿੱਚ ਬਹੁਤ ਵਧੀਆ ਟ੍ਰੇਨਰ ਹੈ"
s

'ਧਨਰਾਜ ਸੀਸੀ ਵਿੱਚ ਬਹੁਤ ਵਧੀਆ ਟ੍ਰੇਨਰ ਹੈ'

In [ ]:
ord() --> para -> str --> int
chr() --> para -> int --> str

In [ ]:
ord('A') # --> int

65

In [ ]:
ord('a') # --> int

97

In [ ]:
chr(65)

'A'

In [ ]:
chr(97)

'a'

In [ ]:
s.capitalize()
s.center()
s.title()
s.split()
s.upper()
s.lower()

In [ ]:
s = "good morning"
s

'good morning'

In [ ]:
s.capitalize()

'Good morning'

In [ ]:
s = "good morning"
s.title()

'Good Morning'

In [ ]:
s = "gOoD MornIng"
s

'gOoD MornIng'

In [ ]:
s.upper()

'GOOD MORNING'

In [ ]:
s.lower()

'good morning'

In [ ]:
s = "Hello"
s

'Hello'

In [ ]:
s.center(10)

'  Hello   '

In [ ]:
user = input("Enter Message")
print(user.capitalize())

Enter Messagegood morning
Good morning

In [ ]:
user = input("Enter Message")
print(user.title())

Enter Messagegood morning
Good Morning

In [ ]:
# 1 -> on
# 2 -> off

user = input("Pess Y for On \n N. For OFF").upper()

if user == 'Y':
  print("ON")
elif user == 'N':
  print("OFF")
else:
  print("Sorry")

Pess Y for On
 N. For OFFN
OFF

In [ ]:
s = "Hello"
len(s)

5

In [ ]:
s.center(15)

'     Hello     '

In [ ]:
len(s)

5

In [ ]:
# A -> 65
# B -> 66.... Z -> 91

for char in range(ord('A'), ord('Z')+1):
  print(chr(char),  "->", char)

A -> 65
B -> 66
C -> 67
D -> 68
E -> 69
F -> 70
G -> 71
H -> 72
I -> 73
J -> 74
K -> 75
L -> 76
M -> 77
N -> 78
O -> 79
P -> 80
Q -> 81
R -> 82
S -> 83
T -> 84
U -> 85
V -> 86
W -> 87
X -> 88
Y -> 89
Z -> 90

In [ ]:
# A A A
# B B B
# C C C


for row in range(ord("A"), ord("C")+1):
  for col in range(ord("A"), ord("C")+1):
    print(chr(row), end = " ")
  print()

A A A
B B B
C C C

In [ ]:
start and end --> from user

A
A B
A B C
A B C D

In [ ]:
start = input("Enter Start Point -> ").upper()
end = input("Enter Ending Point -> ").upper()

for row in range(ord(start), ord(end)+1):
  for col in range(ord(start), row+1):
    print(chr(col), end = " ")
  print()

Enter Start Point -> a
Enter Ending Point -> G
A
A B
A B C
A B C D
A B C D E
A B C D E F
A B C D E F G

In [ ]:
s = "D "
s

'D '

In [ ]:
s = "D "*5
s

'D D D D D '

In [ ]:
# *
# * *
# * * *
# * * * *

for x in range(4+1):
  print("* "*x)

*
* *
* * *
* * * *

In [ ]:
# * * * *
# * * *
# * *
# *

for x in range(4+1, 0, -1):
  print("* "*x)

* * * * *
* * * *
* * *
* *
*

In [ ]:
#    *
#   * *
#  * * *

for x in range(1, 5, 1):
  print(' '*(5-x), "* "*x)

     *
    * *
   * * *
  * * * *

In [ ]:
#    *
#   * *
#  * * *
#   * *
#    *

In [ ]:
# * * * *
# *     *
# *     *
# * * * *

In [ ]:
# user provide a string -> Python

# p
# py
# pyt
# pyth
# pytho
# python

user = input("Enter String -> ")

for x in range(1, len(user)+1, 1):
  print(user[:x])

Enter String -> Python
P
Py
Pyt
Pyth
Pytho
Python

In [ ]:
# user provide a string --> aaaaaaeeeeebbbbttttssdd
# Expected output -> Vowels --> 11

user = input("Enter String -> ").lower()
counter = 0
for x in user:

  if x == 'a' or x == 'e' or x == 'i' or x == 'o' or x == 'u':
    counter += 1

print("Count is -> ", counter)

Enter String -> aaaaaaeeeeebbbbttttssdd
Count is ->  11

In [ ]:
# user provide a string --> aaaaaaeeeeebbbbttttssdd
# Expected output -> Vowels --> 11

user = input("Enter String -> ").lower()
counter = 0
for x in user:

  if x in 'aeiou':
    counter += 1

print("Count is -> ", counter)

Enter String -> aaaaaaeeeeebbbbttttssdd
Count is ->  11

In [ ]:
import time

for num in range(11):
  print(num)
  time.sleep(2)

0
1
2
3
4
5
6
7
8
9
10

In [ ]:
# user -> para
# sample input --> the the the and is are
# output --> max_word -> the, count -> 3

user_line = input("Provide a para : ").split()

uni_list = set(user_line)
max_word = ''
max = 0
for word in uni_list:

  if user_line.count(word) > max:
    max_word = word
    max = user_line.count(word)

print(f"Max Word - > {max_word} Count -> {max}")

Provide a para : the the the and is are
Max Word - > the Count -> 3

In [ ]:
# user provide a line --> This is done this way

# way
# way this
# way this done
# way this done is
# way this done is This

user_line = input("Provide a para : ")
word_list = user_line.split()
word_list = word_list[::-1]
rev_word = ''

for word in word_list:
  rev_word = rev_word + word + ' '
  print(rev_word)

Provide a para : this is done this way
way
way this
way this done
way this done is
way this done is this

In [ ]:
# Function

def function_name():
  pass

In [ ]:
def marry():
  print("Rashamika weds Vijay")

In [ ]:
marry()

Rashamika weds Vijay

In [ ]:
# 1. Positional arg

def marry(b, g):
  print(f"{b} weds {g}")

In [ ]:
marry("Rashamika", "Vijay")

Rashamika weds Vijay

In [ ]:
marry(10, 20)

10 weds 20

In [ ]:
marry(10)

TypeError: marry() missing 1 required positional argument: 'g'

In [ ]:
# 2. default arg

def intro(name, dream = "Engineer"):
  print(f"Name : {name} \nDream : {dream}")

In [ ]:
intro("Dhanraj")

Name : Dhanraj
Dream : Engineer

In [ ]:
intro("Dhanraj", "S/W")

Name : Dhanraj
Dream : S/W

In [ ]:
print("hello", end = " ")

hello

In [ ]:
def intro(name, gender):
  print(f"Name : {name} \n Gender : {gender}")

In [ ]:
intro("Male", "Vijay")

Name : Male
 Gender : Vijay

In [ ]:
# 3. key : value arg
def intro(name, gender):
  print(f"Name : {name} \n Gender : {gender}")

In [ ]:
intro(gender = "Male", name = "vijay")

Name : vijay
 Gender : Male

In [ ]:
# 4. len size arg

def hobbies(*hobby):
  print(type(hobby))

In [ ]:
hobbies()

<class 'tuple'>

In [ ]:
# 4. len size arg

def hobbies(*hobby):
  print(type(hobby))

  for h in hobby:
    print("-> ", h)

In [ ]:
hobbies("Gaming")

<class 'tuple'>
->  Gaming

In [ ]:
hobbies("Gaming", "Traveling")

<class 'tuple'>
->  Gaming
->  Traveling

In [ ]:
hobbies("Gaming", "Traveling", "Problem solving")

<class 'tuple'>
->  Gaming
->  Traveling
->  Problem solving

In [ ]:
def addition(a, b):
  ''' addition of two numbers : a : any, b : any -> None/ int'''
  print(a + b)

In [ ]:
addition(10, 20)

30

In [ ]:
print(addition(10, 20))

30
None

In [ ]:
def addition(a, b):
  ''' addition of two numbers : a : any, b : any -> None/ int'''
  return a + b

In [ ]:
print(addition(10, 20))

30

In [ ]:
# user provides any numbers
# sum

def additions(*nums):

  if len(nums) < 0:
    return "Provide Values"
  sum = 0
  for num in nums:
    sum += num
  return f"Sum = {sum}"

In [ ]:
additions()

'Sum = 0'

In [ ]:
# l1 = [10, 20, 30, 12]
# l2 = [20, 40, 60, 13]
# output -> [(10+20) / 2 --> floor division -> 15]
# [15, 30, 45, 12]

def floor_division_list(l1, l2):

  for num1 in range(len(l1)):
    l1[num1] = ( l1[num1] + l2[num1] ) // 2

  return l1

In [ ]:
floor_division_list([10, 20, 30, 12], [20, 40, 60, 13])

[15, 30, 45, 12]

In [ ]:
def user_list():
  pass

In [ ]:
# user provide --> num --> 123
# output --> one two three


user = input("enter Any number : ")
no_list = list(user)
# print(no_list)
d = {1 : "one", 2 : "two", 3 : "three", 4 : "four"}

for num in no_list:
  print(d[int(num)], end = " ")

enter Any number : 2222
two two two two

In [ ]:
def number_to_word(number):
  no_list = list(number)
  # print(no_list)
  d = {1 : "one", 2 : "two", 3 : "three", 4 : "four"}

  for num in no_list:
    print(d[int(num)], end = " ")


number_to_word(input("enter a number : "))

enter a number : 1234
one two three four

In [ ]:
# find target element between list
# sample input --> [10, 20, 10, 20, 30, 3, 4, 10, 10]
# Expected output -> at index -> 0
#  define a function ->  def first_occurrence(list, target)

def first_occurrence(list, target):
  if len(list) <= 0:
    return -1

  for num in range(len(list)):
    if list[num] == target:
      return f"{list[num]} at index {num}"

In [ ]:
first_occurrence([10, 20, 10, 20, 30, 3, 4, 10, 10], 10)

'10 at index 0'

In [ ]:
# find max and second max element in list
# def max_element(l)

def max_element(l):
  if len(l) <= 0:
    return -1

  sort = sorted(set(l))
  return f"Max element -> {sort[-1]} , Second Max -> {sort[-2]}"


# function calling
max_element([10, 20, 10, 20, 30, 3, 4, 10, 10])

'Max element -> 30 , Second Max -> 20'

In [ ]:
# count the number without using count function
# def count_element(l)

def count_element(l, element):
  count = 0
  for x in l:
    if x == element:
      count += 1
  return f"count -> {count}"

count_element([10, 10, 20, 30, 40, 10], 10)

'count -> 3'

In [ ]:
# find first non repeated element in list
# sample input --> [10, 20, 10, 20, 30, 3, 4, 10, 10]
# Expected output -> 30

def first_non_repeated(l):
  if len(l) <= 0:
    return -1
  for x in l:
    if l.count(x) == 1:
      return x

first_non_repeated([10, 20, 10, 20, 30, 3, 4, 10, 10])

30

In [ ]:
# find max element in a list
# Sample input -> [10, 20, 30, 40]
# Expected Output -> 40

# Sample Input - > []
# Expected Output -> List is empty

def find_max(l):

  if len(l) <= 0:
    return -1
  max = 0
  for x in l:
    if x > max:
      max = x
  return max

find_max([10,20, 30, 0, 90, 7, 300])

300

In [ ]:
# 9.	Find the Majority Element:
# ○	Question: Find the majority element (element that appears more than n/2 times) in an array.
# ○	Logic: Use Moore's Voting Algorithm to find the majority element.
# ○	Sample Input: [3, 3, 4, 2, 4, 4, 2, 4, 4]
# ○	Expected Output: Majority Element: 4

In [ ]:
# define a list and add elements from user till first blank saplce is given and
# print --> addition of all even numbers
# print --> multiplication of all odd numbers
# final --> add = even_add + odd_mul

def user_list():
  l = []
  while True:
    user = input("Enter Number -> ")

    if user == "":
      break
    else:
      l.append(int(user))
  return l

def even_odd():
  list = user_list()
  sum, mul = 0, 1
  for num in list:
    if num % 2 == 0:
      sum += num
    else:
      mul *= num
  return f"Sum -> {sum},  Mul -> {mul}, Add Sum + Mul -> {sum+mul}"

even_odd()

Enter Number -> 10
Enter Number -> 1
Enter Number -> 2
Enter Number -> 3
Enter Number -> 4
Enter Number -> 5
Enter Number -> 6
Enter Number ->

'Sum -> 22,  Mul -> 15, Add Sum + Mul -> 37'

In [ ]:
# 7.	Calculate the Sum of List Elements:
# ○	Question: Write a function to calculate the sum of all elements in a list.
# ○	Logic: Use a loop to iterate through the list and accumulate the sum.
# ○	Sample Input: [1, 2, 3, 4, 5]
# ○	Expected Output: 15


def sum(l):
  if len(l) <= 0:
    return -1
  sum = 0
  for x in l:
    sum += x
  return sum

sum([1, 2, 3, 4, 5])

15

In [ ]:
# 11.	Add an Element at the Beginning of a List:
# ○	Question: Write a function to add an element at the beginning of a list.
# ○	Logic: Use list slicing or the insert() method.
# ○	Sample Input: List: [2, 3, 4] and Element: 1
# ○	Expected Output: List: [1, 2, 3, 4]

In [ ]:
# 12.	Remove an Element from a List by Value:
# ○	Question: Write a function to remove a specific element from a list by its value.
# ○	Logic: Use list methods like remove() or list comprehensions.
# ○	Sample Input: List: [1, 2, 3, 4, 5] and Element: 3
# ○	Expected Output: List: [1, 2, 4, 5]

In [ ]:
14.	Count Negative and Positive Numbers in a List:
○	Question: Write a function to count the number of negative and positive numbers in a list.
○	Logic: Use a loop to iterate through the list and keep two counters.
○	Sample Input: [3, -2, 7, -1, 0, 5, -4]
○	Expected Output: Positive: 4, Negative: 3