In [ ]:
# python DS
# 1. list
# 2. tuple
# 3. set
# 4. dict

In [ ]:
List -->

-> []
-> we can store hetrogeneous
-> indexing
-> we can store duplicate
-> order preserver
-> we can use slicing
-> mutable
-> growable in nature

In [ ]:
l = []
type(l)

list

In [ ]:
l = [10, 10.0, True, "String", 10+0j, [10]]
l

[10, 10.0, True, 'String', (10+0j), [10]]

In [ ]:
l = [10, 10, 10, 10, 10]
l

[10, 10, 10, 10, 10]

In [ ]:
l = [10, 20, 30, 40, 50]
l[]

40

In [ ]:
slicing --> [start:condition: increment/decrement]

start --> 0 --> included  --> optional
condition --> len(var) --> excluded --> optional
steps --> +1 --> --> optional

In [ ]:
l = [10, 20, 30, 40, 50]
l[:3:]

[10, 20, 30]

In [ ]:
l = [10, 20, 30, 40, 50]
id(l)

136458588136832

In [ ]:
l.append(60)
print(l)
print(id(l))

[10, 20, 30, 40, 50, 60]
136458588136832

In [ ]:
append()
insert()
pop
min
max
sort
sorted
index

In [ ]:
l = [10]
l.append(20)
l

[10, 20]

In [ ]:
l.insert(1, 0)
l

[10, 0, 20]

In [ ]:
l.pop()
l

[10, 0]

In [ ]:
l.remove(10)

In [ ]:
l

[0]

In [ ]:
l = [10, 20]
l1 = l   # shallow copy

In [ ]:
l1

[10, 20]

In [ ]:
l[0] = 100
l

[100, 20]

In [ ]:
l1

[100, 20]

In [ ]:
l1 = [10, 20, 30]
l2 = l1.copy()   # deep copy

print(l1, l2)

[10, 20, 30] [10, 20, 30]

In [ ]:
l1[0] = 1000
l1

[1000, 20, 30]

In [ ]:
l2

[10, 20, 30]

In [ ]:
l = [2, 0, 1, 5, 2, 4]
l

[2, 0, 1, 5, 2, 4]

In [ ]:
l.sort()  # --> within sort

In [ ]:
l

[0, 1, 2, 2, 4, 5]

In [ ]:
l = [2, 0, 1, 5, 2, 4]
l

[2, 0, 1, 5, 2, 4]

In [ ]:
sorted(l)   # sort elemnts and print

[0, 1, 2, 2, 4, 5]

In [ ]:
pass
break
continue

In [ ]:
if 10> 0:
  pass

In [ ]:
a = [10, 20, 30, 7, 5]

for x in a:
  if x % 2 == 0:
    print(x)
    continue
  else:
    break

10
20
30

In [ ]:
# declare a empty list
# insert elements till first blank in given and print list

l = []

while True:

  user_data = input("Enter NUmber : ")

  if user_data == '':
    break
  else:
    l.append(user_data)

print(l)

Enter NUmber : 10
Enter NUmber : 20
Enter NUmber : 30
Enter NUmber :
['10', '20', '30']

In [ ]:
# declare a empty list
# insert elements till first blank in given and
# print list
# min, max, sum

l = []
while True:
  user_data = input("Enter number : ")

  if user_data == '':
    break
  else:
    l.append(int(user_data))

print("list -> ", l)
print("Min value -> ", min(l))
print("Max value -> ", max(l))

sum = 0
for x in l:
  sum += x

print("Sum -> ", sum)

print("Sum function -> ", sum(l))

Enter number : 10
Enter number : 20
Enter number : 30
Enter number : 40
Enter number : 50
Enter number :
list ->  [10, 20, 30, 40, 50]
Min value ->  10
Max value ->  50
Sum ->  150

In [ ]:
l = [10, 20, 30, 40]

for x in l:  # --> when we need to work on value
  print(x)

10
20
30
40

In [ ]:
l = [10, 20, 30, 40]
# len()
for x in range(len(l)):  # --> when we need to work on value
  print("at index ", x, "->" , l[x])

at index  0 -> 10
at index  1 -> 20
at index  2 -> 30
at index  3 -> 40

In [ ]:
# declare a empty list
# insert elements till first blank in given and
# print list
#  print avg
# find avg
# avg > element = elemt + 10
# avg < element = elemt - 5
# print --> list

l = []
while True:
  user_data = input("Enter number : ")

  if user_data == '':
    break
  else:
    l.append(int(user_data))

print(l)
avg = sum(l) // len(l)
print("Avg -> ", avg)


for num in range(len(l)):

  if avg > l[num]:
    l[num] += 10
  else:
    l[num] -= 5

print("Updated list --> ", l)

Enter number : 10
Enter number : 20
Enter number : 30
Enter number : 1
Enter number : 9
Enter number : 0
Enter number : 3
Enter number :
[10, 20, 30, 1, 9, 0, 3]
Avg ->  10
Updated list -->  [5, 15, 25, 11, 19, 10, 13]

In [ ]:
# declare a list and enter elements --> element can be duplicates
# print two list --> multiples_of_five,  multiples_of_seven

# l = [10,20, 14, 70, 90, 700, 35]

# Expected output --> 5 -> [10, 20, 70, 90, 700, 35]
#                     7 -> [14, 70, 700, 35]

l = [10,20, 14, 70, 90, 700, 35]
multiples_of_five = []
multiples_of_seven = []

for x in l:
  if x % 5 == 0:
    multiples_of_five.append(x)
  if x % 7 == 0:
    multiples_of_seven.append(x)

print(multiples_of_five)
print(multiples_of_seven)

[10, 20, 70, 90, 700, 35]
[14, 70, 700, 35]

In [ ]:
# 1, 3, 7 , 15, 31, 63, 127
#  process --> add all previous elements + position = element
l = [1, 2, 3, 4, 5, 6, 7, 8]

for num in range(len(l)):
  data = sum(l[:num])
  l[num] = l[num] + data

print(l)

[1, 3, 7, 15, 31, 63, 127, 255]

In [ ]:
l = [1, 2, 3, 4, 5]
'''
[5, 1, 2, 3, 4]
[4, 5, 1, 2, 3]
[3, 4, 5, 1, 2]
[2, 3, 4, 5, 1]
[1, 2,3, 4, 5]
'''

for x in l:
  out = l.pop()
  l.insert(0, out)
  print(l)
print("-------------------")

for x in l:
  out = l.pop(0)
  l.append(out)
  print(l)

[5, 1, 2, 3, 4]
[4, 5, 1, 2, 3]
[3, 4, 5, 1, 2]
[2, 3, 4, 5, 1]
[1, 2, 3, 4, 5]
-------------------
[2, 3, 4, 5, 1]
[3, 4, 5, 1, 2]
[4, 5, 1, 2, 3]
[5, 1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [ ]:
# tuple

-> ()
-> hetrogeneous
-> indexing concept is applicable
-> we can use slicing
-> insertion order preserved
-> Immutable
-> not growable in nature

In [ ]:
t = ()
type(t)

tuple

In [ ]:
t = (True, 10, 10.0, 10+0j, "string", [122])
type(t)

tuple

In [ ]:
t

(True, 10, 10.0, (10+0j), 'string', [122])

In [ ]:
print(t[::-1])

([122], 'string', (10+0j), 10.0, 10, True)

In [ ]:
t = (10, 20)
print(type(t), "-> ", id(t))

<class 'tuple'> ->  134876458176000

In [ ]:
t = (10, 20, 30)
print(type(t), "-> ", id(t))

<class 'tuple'> ->  134876822352000

In [ ]:
t = (10, 20, 30, 40)
for x in range(len(t)):
  print("at index : ", x,  " -> ", t[x])

at index :  0  ->  10
at index :  1  ->  20
at index :  2  ->  30
at index :  3  ->  40

In [ ]:
min(t)

10

In [ ]:
max(t)

40

In [ ]:
sum(t)

100

In [ ]:
t = (10, 20)
print(type(t), id(t))

<class 'tuple'> 134876458179776

In [ ]:
t = (10, 20, 30)
print(type(t), id(t))

<class 'tuple'> 134876456534080

In [ ]:
t = ([10], )
print(type(t), id(t))

<class 'tuple'> 134876459333184

In [ ]:
t[0].append(20)
print(type(t), id(t))

<class 'tuple'> 134876459333184

In [ ]:
t

([10, 20],)

In [ ]:
# Set Data Structure

-> {}
-> empty set - set()
-> indexing concept is not applicable
-> we can't use slicing
-> insertion order not preserved
->

In [ ]:
l = set()
type(l)

set

In [ ]:
s = {True, 10, 10.0, 10+0j, "String",10, 10}
s

{10, 'String', True}

In [ ]:
id(s)

134876456944128

In [ ]:
s.add(1000)
id(s)

134876456944128

In [ ]:
s = {10, 10, 20, 30, 10, 10}
s

{10, 20, 30}

In [ ]:
s[::]
s

TypeError: 'set' object is not subscriptable

In [ ]:
# define a empty set and add element till first blank is given
# print --> set, max, min, sum, avg

s = set()

while True:
  user_data = input("Enter Number : ")

  if user_data == '':
    break
  else:
    s.add(int(user_data))

print("set - >", s)
print("Min -> ", min(s), " Max -> ", max(s), " Sum -> ", sum(s), " Avg - > ", sum(s)/len(s))

Enter Number : 10
Enter Number : 20
Enter Number : 30
Enter Number : 40
Enter Number : 50
Enter Number :
set - > {40, 10, 50, 20, 30}
Min ->  10  Max ->  50  Sum ->  150  Avg - >  30.0

In [ ]:
l = [10, 20, 30, 50, 10]
set(l)

{10, 20, 30, 50}

In [ ]:
l = [10, 10, 10, 10]
l.count(10)

4

In [ ]:

# define a list l = [10, 10, 10, 20, 30, 40, 40, 30, 20, 0]
# element should be duplicates
# Expected output -->
'''
0  : 1
10 : 3
20 : 2
30 : 2
40 : 2
'''

l = [10, 10, 10, 20, 30, 40, 40, 30, 20, 0]
uni_elements = sorted(set(l))

for num in uni_elements:
  print(num, " : ", l.count(num))

0  :  1
10  :  3
20  :  2
30  :  2
40  :  2

In [ ]:
# define a list that carries duplicate elements
# find second max element

l = [10, 10, 10, 20, 30, 40, 40, 30, 20, 0, 20, 0, 10]

l = sorted(set(l))
print(l[-2])

30

In [ ]:
# first two minimum elements

l = [10, 10, 10, 20, 30, 40, 40, 30, 20, 0, 20, 0, 10]

l = sorted(set(l))
print(l[0], l[1])

0 10

In [ ]:
s = {10, 10, 20, 30, 40, 50}
s

{10, 20, 30, 40, 50}

In [ ]:
s.remove(10)

KeyError: 10

In [ ]:
s = {10, 10, 20, 30, 40, 50}
s.discard(10)

In [ ]:
s

{20, 30, 40, 50}

In [ ]:
s = {10, 10, 20, 30, 40, 50}
s.pop()
s

{10, 20, 30, 40}

In [ ]:
s.pop()
s

{10, 30}

In [ ]:
# 4. Dict

-> key : value --> pair

In [ ]:
d = {}
type(d)

dict

In [ ]:
d = {1 : "Python", 1 : "Java"}
d

{1: 'Java'}

In [ ]:
d = {1 : "One", 2 : "Two", 3 : "Three"}
d.items()

dict_items([(1, 'One'), (2, 'Two'), (3, 'Three')])

In [ ]:
d.keys()

dict_keys([1, 2, 3])

In [ ]:
d.values()

dict_values(['One', 'Two', 'Three'])

In [ ]:
# define a list l = [10, 10, 10, 20, 30, 40, 40, 30, 20, 0]
# element should be duplicates
# generate a dict for key and values
# where keys -> data value -> frequency
# Expected output -->
'''
{
0  : 1
10 : 3
20 : 2
30 : 2
40 : 2 }
'''

l = [10, 10, 10, 20, 30, 40, 40, 30, 20, 0]
uni_list = sorted(set(l))

d = {}

for x in uni_list:
  d[x] = l.count(x)
print(d)

{0: 1, 10: 3, 20: 2, 30: 2, 40: 2}

In [ ]:
d = {1 : "One", 2 : "Two", 3 : "Three", 4 : "Four", 5 : "Five"}
'''
key : 1 , value : One ..... '''


for key, value in d.items():
  print("Key -> ", key, " Values -> ", value)

Key ->  1  Values ->  One
Key ->  2  Values ->  Two
Key ->  3  Values ->  Three
Key ->  4  Values ->  Four
Key ->  5  Values ->  Five

In [ ]:
# Project -> Restorent menu card and billing system
# Menu Driven
# selling products -->
# Tea - 12
# Coffee - 25
# Water - 20
# Ban Maska - 25
# once order is done print tatal payable amount


import time

tea = coffee = water = banmaska = 0
while True:  # yes_no == "Y"

  yes_no = input("Do You Want To Order (Y/N) : /n ")

  if yes_no == "Y":

    user_data = int(input(" 1. Tea \t 12 \n 2. Coffee \t 25 \n 3. Water \t 20 \n 4. Ban Maska \t 25 \n 0. Exit \n"))

    if user_data == 1:
      print("Tea Selected...")
      tea += 1
      time.sleep(5)
    elif user_data == 2:
      print("Coffee Selected...")
      coffee += 1
      time.sleep(5)
    elif user_data == 3:
      print("Water Selected...")
      water += 1
      time.sleep(5)
    elif user_data == 4:
      print("Ban Maska Selected...")
      banmaska += 1
      time.sleep(5)
    elif user_data == 0:
      time.sleep(5)
      print("Thanks For Ordering...")
      break
    else:
      print("Bhai Dekh ke...")


  elif yes_no == "N":
    print("Thanks For Visiting...")

  else:
    print("")

total_bill = (tea * 12) + (coffee * 25) + (water * 20) + (banmaska * 25)
print("Total Payable Amount : \t ", total_bill)

Do You Want To Order (Y/N) : /n Y
 1. Tea 	 12
 2. Coffee 	 25
 3. Water 	 20
 4. Ban Maska 	 25
 0. Exit
1
Tea Selected...
Do You Want To Order (Y/N) : /n Y
 1. Tea 	 12
 2. Coffee 	 25
 3. Water 	 20
 4. Ban Maska 	 25
 0. Exit
2
Coffee Selected...
Do You Want To Order (Y/N) : /n Y
 1. Tea 	 12
 2. Coffee 	 25
 3. Water 	 20
 4. Ban Maska 	 25
 0. Exit
3
Water Selected...
Do You Want To Order (Y/N) : /n Y
 1. Tea 	 12
 2. Coffee 	 25
 3. Water 	 20
 4. Ban Maska 	 25
 0. Exit
0
Thanks For Ordering...
Total Payable Amount : 	  57

In [ ]:
Bill No : 100000000101
------------------------------
Tea     12    5
Water   20    1
------------------------------
Total Amount : 80